<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Homogen</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="common/scss/styles.css">
</head>
<body ng-controller="myAppController">

<div class="main-controls">
    <button class="btn btn-default" ng-click="logout()">logout</button>
</div>

<div ng-if="isLoggedIn" bootstrap-tabs></div>
<div class="main-container" ng-view></div>


<!--Libraries-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="app.js"></script>

<!--Custom components-->
<script src="components/tabs/bootstrapTabs.js"></script>
<script src="components/preferences/preferences.js"></script>
<script src="components/preferences/preferencesService.js"></script>
<script src="components/filters/getByProperty.js"></script>
<script src="components/filters/isWeekendDay.js"></script>

<!--Main-->
<script src="timelog/timelogController.js"></script>
<script src="timelog/timelogService.js"></script>

<script src="timesheetManagement/timesheetManagementController.js"></script>
<script src="timesheetManagement/timesheetManagementService.js"></script>

<script src="projectManagement/projectManagementController.js"></script>
<script src="projectManagement/projectManagementService.js"></script>

<script src="peopleReport/peopleReportController.js"></script>
<script src="peopleReport/peopleReportService.js"></script>

<script src="projectReport/projectReportController.js"></script>
<script src="projectReport/projectReportService.js"></script>

<script src="login/loginController.js"></script>
<script src="login/loginService.js"></script>



</body>
</html>
