<div class="collapse-wrapper" ng-repeat="project in projects">
    <h2 ng-class="{'timelog-collapsed': project.isCollapsed}">
        <a href="" ng-if="!project.projectEdit" class="collapse-item" ng-class="{'collapsed': project.isCollapsed}" ng-click="project.isCollapsed = !project.isCollapsed">
            {{project.name}}
        </a>

        <input ng-if="project.projectEdit" type="text" ng-model="project.name" ng-change="changeProjectName(project)"/>

        <a href="" ng-click="project.projectEdit = !project.projectEdit">Edit</a>
    </h2>

    <div collapse="project.isCollapsed">
        <table class="table table-bordered timelog">
            <thead>
            <th ng-repeat="projectsKey in projectsKeys">
                {{projectsKey}}
            </th>
            </thead>
            <tbody>
            <tr ng-if="currentProjectIndex >= 0" ng-repeat="employee in project.employees">
                <td>
                    <select id="employee"
                            ng-options="employee.displayName as employee.displayName for employee in project.employees"
                            ng-model="employee.displayName"
                            class="form-control timesheet-control"
                            ng-change="saveAssignment(project, employee)">
                    </select>
                </td>
                <td>
                    <select id="role"
                            ng-options="assignment as assignment for assignment in assignments"
                            ng-model="employee.assignments[0].role"
                            class="form-control timesheet-control"
                            ng-change="saveAssignment(project, employee)">
                    </select>
                </td>
                <td>
                    <input type="text" ng-model="employee.assignments[0].workload" ng-change="saveAssignment(project, employee)"/>
                </td>
            </tr>

            <tr project-row></tr>
            </tbody>
        </table>
    </div>
</div>
<!--{{projects[0]}}-->
<a href="" ng-click="addProject()" class="add-project">+</a>