<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Email Timesheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        body,h1,h2,h3,h4,h5,h6,p,td{
            color:#222222;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            line-height:1.3;
            margin: 0;
            text-align: center;}
    </style>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "EmailMessage",
        "potentialAction": {
            "@type": "ViewAction",
            "target": "http://homogen-app.herokuapp.com/",
            "name": "Start using"
         },
         "description": "Go to Mifort Timesheet"
    }
    </script>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; box-shadow: 0 0 5px rgba(0,0,0,0.2);">
   <tr>
       <td>
           <a href="http://homogen-app.herokuapp.com/"><img src="cid:header.jpg" alt="timesheet"/></a>
       </td>
   </tr>
    <tr>
        <td style="padding: 20px 0; ">
            <h2>Welcome to Mifort Timesheets</h2>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0; color: #787878; ">
            You have been invited to join the<br/>
            Time Tracking system of <%= companyName %> company
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 60px 0;">
            <div style="text-align:center!important" align="center" >
                <a href="http://homogen-app.herokuapp.com/"
                    style="background:#00b6ed;border-radius:2px;color:#ffffff;display:inline-block;font-size:18px;min-height:20px;padding:16px 24px;text-decoration:none;box-shadow: 0 2px 7px rgba(0,0,0,0.4);">Start using</a>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>
