<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="js/angular.min.js"></script>
    <script src="js/login.js"></script>

  </head>


  <body>
    <div class="container"> 
      <div class="page-header">
        <h1>Login</h1>
      </div>
      <form id="loginForm"
            name="loginForm"
            ng-app="app">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" ng-model="login" class="form-control" id="login" placeholder="Enter login">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
        </div>
      </form>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
    </div>
  </body>
</html>