body {
    padding: 20px;
}

/*Login*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.main-controls {
    text-align: right;
}

/*Tabs*/
.main-tabs {
    /*width: 200px;*/
    float: left;
    padding-right: 20px;
}

.tabs-left {
    padding-top: 2px;
    padding-bottom: 2px;
    border-right: 1px solid #ddd;
}

.tabs-left .nav-tabs {
    border-bottom: 0;
}

.tabs-left li.active a, .tabs-left li.active a:hover, .tabs-left li.active a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-left li a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-left li a:hover {
    border-bottom-color: #eee;
}

.tabs-left li {
    margin-right: -1px;
}

.main-container {
    padding: 0 0 20px 20px;
}

/*Timelog*/
.timelog {
    /*width: calc(100% - 200px);*/
}

.timelog-comment {
    width: 100%;
}

.timelog-hours {
    width: 42px;
    text-align: center;
}

.timelog-new {
    margin-left: 10px;
}

.timelog-data {
    line-height: 2.5;
}

.weekend {
    background: #bed3ff !important;
}

/*Timesheet*/
.timesheet-controls{
    float: right;
    /*width: 200px;*/
}
.timesheet-day{
    width: 10px;
}