body {
    padding: 20px;
}

/*Login*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.main-controls {
    text-align: right;
    margin-bottom: 20px;
}

/*Tabs*/
.main-tabs {
    /*width: 200px;*/
    float: left;
    padding-right: 20px;
}

.tabs-left {
    padding-top: 2px;
    padding-bottom: 2px;
    border-right: 1px solid #ddd;
}

.tabs-left .nav-tabs {
    border-bottom: 0;
}

.tabs-left li.active a, .tabs-left li.active a:hover, .tabs-left li.active a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-left li a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-left li a:hover {
    border-bottom-color: #eee;
}

.tabs-left li {
    margin-right: -2px;
}

.main-container {
    padding: 0 0 20px 20px;
}

/*Timelog*/
.timelog-comment {
    width: 100%;
}

.timelog-validation {
    padding: 10px;
}

.timelog-hours,
.timesheet-hours {
    width: 42px;
    text-align: center;
}

.timelog-new {
    margin-left: 10px;
}

.timelog-data {
    line-height: 2.5;
}

.weekend {
    background: #bed3ff !important;
}

.projects-state-wrapper {
    float: right;
}

/*Timesheet*/
.timesheet-controls {
    float: right;
    /*width: 200px;*/
}

.periods {
    border-collapse: separate;
}

.periods td {
    position: relative;
}

.periods td,
.periods th,
.periods td input {
    text-align: center;
    margin: 0 auto;
}

.timesheet-day {
    width: 10px;
}

.period-start {
    border-left-color: red !important;
}
.period-end {
    border-right-color: blue !important;
}

.period-start:before,
.period-start:after,
.period-end:before,
.period-end:after {
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 20px;
    border-top: 1px red solid;
    content: ''
}

.period-end:before,
.period-end:after{
    left: auto;
    right: 0;
    border-color: blue;
}

.period-start:after,
.period-end:after {
    top: auto;
    bottom: -1px;
}