html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Main styles*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a:focus {
    text-decoration: none;
}

a:focus:hover {
    text-decoration: underline;
}

body {
    color: #000;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    padding-bottom: 32px;
    font-size: 1.8em;
    font-weight: 600;
}

h2.timelog-collapsed {
    padding-bottom: 15px;
}

h2 a,
h2 a:hover,
h2 a:focus {
    color: #000;
}

.main-container {
    position: relative;
    float: left;
    width: calc(100% - 251px);
    height: calc(100% - 100px);
    padding: 70px 55px 70px 50px;
    background: #f5f7f9;
    border-left: 1px #f2f4f7 solid;
}

.main-controls {
    height: 100px;
    padding: 0 25px;
    line-height: 100px;
    text-align: right;
}

.main-controls a {
    margin-left: 30px;
    font-size: 1.8em;
    color: #000;
}

.logo {
    float: left;
    margin-left: 0;
    font-size: 2.4em;
    color: #000;
}

.logo:hover {
    color: #000;
    text-decoration: none;
}

.logo .timelog-icon {
    background-position: -7px -267px;
    width: 25px;
    /*height: 25px;*/
}

.main-controls .info,
.main-controls .profile,
.main-controls .logout {
    padding: 2px 0 2px 36px;
    background: url("../images/icons.png") -2px -471px no-repeat;
}

.main-controls .logout {
    background-position: -2px -587px;
}

.main-controls .profile {
    background-position: -2px -526px;
}

/*Login*/
.login-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../images/login-background.JPG") center center;
    background-size: cover;
}

.form-signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-69%) translateX(-50%);
    width: 480px;
    font-weight: 600;
    background: rgba(254, 254, 254, 0.9);
}

.form-signin h1 {
    padding: 20px 85px;
    font-size: 2.4em;
    color: #666;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px #706e6d solid;
}

.timelog-icon {
    padding: 11px 15px 11px 11px;
    background: url("../images/icons.png") -7px -262px no-repeat;
    opacity: 0.7;
}

.form-signin p {
    margin: 30px 85px;
    font-size: 2.4em;
}

.form-signin .signin-buttons {
    padding: 0 85px 45px;
}

.form-signin .btn {
    height: 40px;
    margin-bottom: 30px;
    line-height: 1;
}

.login-icon {
    float: left;
    padding: 12px;
    background: url("../images/icons.png") no-repeat;
}

.google-login {
    position: relative;
    border: 0;
}

.google-login:after {
    position: absolute;
    left: 50px;
    top: 2px;
    height: 36px;
    border-left: 1px #b13c2e solid;
    content: '';
}

.google-login .login-icon {
    background-position: -11px 1px;
}

.google-login {
    background-color: #dd4b39;
}

.google-login:hover,
.google-login:focus,
.google-login:active,
.google-login:active:focus {
    background-color: #c34232;
}

/*Tabs*/
.main-tabs {
    width: 250px;
    float: left;
}

.tabs-left {
    padding-bottom: 2px;
    font-size: 1.6em;
    /*border-right: 1px solid #ddd;*/
}

.tabs-left .nav-tabs {
    border-bottom: 0;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-stacked > li + li {
    margin: 0;
}

.tabs-left li {
    border-bottom: 1px #f2f4f7 solid;
    /*border-right: 1px #f5f7f9 solid;*/
}

.tabs-left li:first-child {
    border-top: 1px #f2f4f7 solid;
}

.tabs-left li.active a,
.tabs-left li.active a:hover,
.tabs-left li.active a:focus {
    /*background: #eaeff7;*/
    color: #19b5fe;
    border-color: transparent;
    border-right-color: transparent;
}

.tabs-left li a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    padding: 17px 25px;
    color: #000;
    display: block;
}

.tabs-left li a:hover {
    background: #eaeff7;
    border-bottom-color: #eee;
}

/*Timelog*/
.timelog-wrapper {
    background: #fff;
    padding: 25px;
}

.collapse-timelog {
    float: left;
    padding-left: 20px;
    font-size: 0.9em;
    background: url("../images/icons.png") -12px -321px no-repeat;
}

.collapse-timelog.collapsed {
    background-position: -12px -637px;
}

.timelog {
    font-size: 1.8em;
    border-color: #eaeff7;
}

.timelog-controls {
    position: absolute;
    right: 55px;
    top: 20px;
}

.previous-period,
.next-period {
    width: 30px;
    height: 30px;
    background: url("../images/icons.png") -3px -359px no-repeat;
    border: 0;
    outline: 0;
}

.next-period {
    background-position: -3px -407px;
}

.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th {
    border-color: #eaeff7;
    border-bottom-width: 1px;
    vertical-align: middle;
}

.table-bordered > tbody > tr > .is-not-first-day-log {
    border: 0;
}

.table-bordered > tbody > tr > .is-first-day-log {
    border-bottom: 0;
}

.add-timelog,
.remove-timelog {
    position: relative;
    top: 3px;
    color: #19b5fe;
    opacity: 0.7;
    font-size: 1.65em;
    font-weight: 300;
    line-height: 1;
}

.remove-timelog {
    color: red;
    float: right;
}

.add-timelog:hover,
.add-timelog:focus,
.add-timelog:active,
.remove-timelog:hover,
.remove-timelog:focus,
.remove-timelog:active {
    text-decoration: none;
}

.add-timelog:hover,
.add-timelog:focus,
.add-timelog:active {
    color: #19b5fe;
}

.remove-timelog:hover,
.remove-timelog:focus,
.remove-timelog:active {
    color: darkred;
}

.timelog-comment {
    width: 100%;
}

.timelog-validation {
    padding: 10px;
}

.timelog-hours,
.timesheet-hours {
    float: left;
    width: 42px;
    margin-right: 10px;
    text-align: center;
}

.timelog-new {
    margin-left: 10px;
}

.weekend {
    background: #f3cce1 !important;
}

.projects-state-wrapper {
    float: right;
}

/*Timesheet*/
.timesheet-wrapper {
    float: left;
    width: 60%;
    min-width: 542px;
    margin-right: 40px;
    padding: 25px;
    background: #fff;
}

.timesheet-controls {
    float: right;
    width: calc(40% - 42px);
    min-width: 325px;
    max-width: 420px;
    font-size: 1.8em;
    background: #fff;
    padding: 25px;
}

.timesheet-controls label {
    float: left;
    line-height: 1.8;
    margin-bottom: 20px;
}

.timesheet-controls .timesheet-control {
    float: right;
    width: 150px;
}

.timesheet-controls .timesheet-control .form-control {
    width: 111px;
}

.primary-button {
    display: block;
    width: 140px;
    height: 36px;
    margin: 0 auto;
    color: #fff;
    font-weight: 300;
    background: #3eb5f1;
    border: 0;
    border-bottom: 5px #2574a9 solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: 0;
}

.primary-button:active {
    height: 32px;
    margin-top: 4px;
    border-bottom-width: 1px;
}

.periods {
    border-collapse: separate;
}

.periods th {
    font-size: 1.4em;
}

.periods .popover {
    min-width: 200px;
}

.periods > tbody > tr > td {
    position: relative;
    height: 70px;
    width: 70px;
    /*border-width: 2px;*/
    vertical-align: middle;
}

.periods td,
.periods th,
.periods td input {
    text-align: center;
    margin: 0 auto;
}

.timesheet-day {
    position: relative;
    text-align: right;
}

.timesheet-date,
.timesheet-time {
    font-size: 1.8em;
}

.timesheet-date {
    position: absolute;
    top: 3px;
    left: 7px;
    color: #9c9d9f;
    font-weight: 300;
}

.timesheet-time,
.timesheet-hours-label {
    position: absolute;
    right: 8px;
    bottom: 15px;
}

.timesheet-hours-label {
    bottom: 5px;
}

.periods > tbody > tr > .period-start {
    border-left-color: red;
}

.periods > tbody > tr > .period-end {
    border-right-color: blue;
}

.timesheet-hours-label {
    color: #999;
    font-size: 1.2em;
}