{{project.periods}}<div class="timesheet-controls">
    <div class="clearfix">
        <label for="period">Report Period</label>
        <select id="period"
                ng-options="period as period.periodName for period in periodSettings"
                ng-model="selectedPeriod"
                class="form-control timesheet-control">
        </select>
    </div>

    <div class="clearfix">
        <label for="startDate">Start Date</label>

        <div class="timesheet-control">
            <p class="input-group ">
                <input id="startDate"
                       class="form-control"
                       datepicker-popup
                       ng-model="startDate"
                       is-open="calendarIsOpened"
                       min-date="minDate"
                       max-date="'2020-06-22'"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="true"
                       close-text="Close"/>

                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>

    <button type="button" class="primary-button" ng-click="splitTimesheet(selectedPeriod, startDate)">
        Split
    </button>
</div>

<div class="timesheet-wrapper" ng-repeat="timesheet in splittedTimesheet">
    <div class="timesheet-header">{{getMonthName(timesheet)}}</div>
    <!--<div class="timesheet-header">{{timesheet}}</div>-->
    <table class="periods table table-bordered">
        <thead>
        <th ng-repeat="day in weekDays track by $index">{{day}}</th>
        </thead>
        <tbody>
        <tr ng-repeat="week in timesheet track by $index">
            <td table-cell
                ng-repeat="day in week track by $index"
                ng-class="{'period-start': day.isPeriodStartDate, 'period-end': day.isPeriodEndDate, 'weekend': isWeekend(day.date), 'disabled-day': day.disabled}"></td>
        </tr>
        <!--<tfoot>-->
        <!--<tr>-->
            <!--<td colspan="7">{{timesheet}}</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
        </tbody>
    </table>

    <!--<small>{{splittedTimesheet}}</small>-->
    <!--<small>{{timesheet}}</small>-->


    <script type="text/ng-template" id="daySettimgs.html">
        <div class="form-group">
            <label>Time:</label>
            <input type="text" ng-model="day.time" class="form-control">
            <label>Type:</label>
            <select id="type"
                    ng-options="type as type.typeName for type in dayTypes"
                    ng-model="day.type"
                    class="form-control">
            </select>
            <label>Comment:</label>
            <textarea type="text" ng-model="day.comment" class="form-control"></textarea>
        </div>
    </script>
</div>