<table class="table table-striped timelog">
    <thead>
    <th ng-repeat="timelogKey in timelogKeys">{{timelogKey}}</th>
    </thead>
    <tbody>
    <tr ng-repeat="log in timelog track by $index" ng-class="{'weekend': isWeekend(log.date)}">
        <td>
            {{log.date}}
            <button type="button" class="btn btn-success glyphicon-plus btn-xs" ng-click="addRow(log.dateId, $index)"></button>
        </td>

        <td>
            <select name="">
                <option ng-selected="selected"
                        ng-repeat="assignment in timelogAssigments"
                        value="{{assignment.assignmentId}}">
                    {{assignment.role}}
                </option>
            </select>
        </td>

        <td><input class="timelog-hours" type="text" ng-model="log.time"/></td>

        <td><input class="timelog-comment" type="text" value="{{log.comment}}"/></td>
    </tr>
    </tbody>
</table>