<div class="timelog-controls clearfix">
    <button ng-if="currentTimelogIndex > 0" class="previous-period" ng-click="showPreviousPeriod()"></button>
    <button class="next-period" ng-click="showNextPeriod()"></button>
    <!--{{currentTimelogIndex}}-->
</div>

<div class="collapse-wrapper clearfix" ng-repeat="project in projects">
    <h2 ng-class="{'timelog-collapsed': isCollapsed}">
        <a href="" class="collapse-item" ng-class="{'collapsed': isCollapsed}" ng-click="isCollapsed = !isCollapsed">
            {{project.name}}
        </a>
    </h2>

    <div collapse="isCollapsed">
        <table class="table table-bordered timelog">
            <thead>
            <th ng-repeat="timelogKey in timelogKeys">
                {{timelogKey}}
            </th>
            </thead>
            <tbody>
            <tr ng-if="currentTimelogIndex >= 0" ng-repeat="log in project.splittedTimelog[currentTimelogIndex]"
                ng-class="{'weekend': isWeekend(log.date)}">
                <td ng-class="log.isFirstDayRecord ? 'is-first-day-log' : 'is-not-first-day-log'">
                    <span class="timelog-data">
                        <span ng-if="log.isFirstDayRecord">{{log.date}}</span>

                        <a href="" ng-if="log.isFirstDayRecord" class="add-timelog" ng-click="addRow(log, project)">+</a>
                        <a href="" ng-if="!log.isFirstDayRecord" class="remove-timelog" ng-click="removeRow(log, $index, project)">&#8211;</a>
                    </span>
                </td>

                <td>
                    <select ng-options="assignment as assignment for assignment in timelogAssigments"
                            ng-model="log.role"
                            class="form-control">
                    </select>
                </td>

                <td>
                    <input class="timelog-hours form-control" type="text" ng-model="log.time"/>
                    <span>hours</span>
                </td>

                <td><input class="timelog-comment form-control" type="text" ng-model="log.comment"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<small>{{project.splittedTimelog}}</small>-->
</div>

<!--<small>{{splittedTimelog.length}}</small>-->
<!--<small>{{projects[0].timelog}}</small>-->