<div class="col-lg-8">
    <table class="table table-striped timelog">
        <thead>
        <th ng-repeat="timelogKey in timelogKeys">{{timelogKey}}</th>
        </thead>
        <tbody>
        <tr ng-if="currentTimelogStart >= 0" ng-repeat="log in timelog | limitTo:7:currentTimelogStart" ng-class="{'weekend': isWeekend(log.date)}">
            <td>
            <span class="timelog-data">
                {{log.date}}
                <button type="button" class="timelog-new btn btn-success glyphicon-plus btn-xs"
                        ng-click="addRow(log.dateId, $index)"></button>
            </span>
            </td>

            <td>
                <select ng-options="assignment.assignmentId as assignment.role for assignment in timelogAssigments track by assignment.assignmentId"
                        ng-model="log.assignmentId"
                        class="form-control">
                </select>
            </td>

            <td><input class="timelog-hours form-control" type="text" ng-model="log.time"/></td>

            <td>
                <input class="timelog-comment form-control" type="text" ng-model="log.comment"/>
                <!--<small>{{log}}</small>-->
            </td>
        </tr>
        </tbody>
    </table>

    <p class="bg-danger timelog-validation" ng-if="(currentTimelogStart < 0) || (currentTimelogStart > timelog.length)">
        No Timelog for current period
    </p>

    {{currentTimelogStart}}|{{timelog.length}}
    <button class="btn" ng-click="previousPeriod()"><</button>
    <button class="btn" ng-click="nextPeriod()">></button>

    <div>
        <small>{{timelog}}</small>
    </div>
</div>

<div class="projects-state-wrapper col-lg-2">
    <table class="table">
        <tbody>
        <tr>
            <td><a href="">Project1</a></td>
            <td>15/20</td>
        </tr>
        <tr>
            <td><a href="">Project2</a></td>
            <td>5/20</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>20/40</td>
        </tr>
        </tbody>
    </table>
</div>