<div class="company-wrapper">
    <h1>Company Edit</h1>

    <form name="companyCreateForm" ng-submit="companyCreateForm.$valid && saveCompany()">
        <table>
            <tr>
                <td>
                    <label for="company-name">Company Name</label>
                </td>
                <td>
                    <input id="company-name" ng-model="company.name" required type="text" placeholder="My Company"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="company-position">Position in Company</label>
                </td>
                <td>
                    <input id="company-position" ng-model="company.position" type="text" placeholder="CEO"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="company-employees">Invite Employees</label>
                </td>
                <td>
                    <textarea id="company-employees" ng-model="company.emails" placeholder="zuckerberg@facebook.com"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="primary-button large-button">
                        Save
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>