<td class="timesheet-day">
    <span ng-if="day.date" class="timelog-data" ng-class="{'disabled-day-data': day.disabled}">
        <span class="timesheet-time">{{day.time}}</span>
        <br/>
        <span class="timesheet-hours-label">hours</span>
    </span>

    <div class="start-splitter"></div>

    <a ng-if="day.date"
       href=""
       class="timesheet-day-wrapper"
       ng-class="{'disabled-day-data': day.disabled}"
       popover-template="daySettingsPopover.templateUrl"
       popover-title="{{daySettingsPopover.title}}"
       popover-placement="bottom"
       data-toggle="popover">
        {{day.date.slice(3, 5)}}
        {{popover}}
    </a>

    <div class="end-splitter"></div>

</td>